{%extends 'main_and_user/base.html'%}

{% block title %}About{% endblock title %}
{% block page_title %}About Page{% endblock page_title %}
{% block page_desc %}Here are some information about thie website and me.{% endblock page_desc %}

{% block content %}

<div class="about_content">

    <h5 class="about_h5">This website is...</h5>
    <p class="about_p">This website shows you my personal favorite music and songs.</p>
    <p class="about_p">I hope I can share my love for amazing music with you and you enjoy it!</p>
    <h5 class="about_h5">I am...</h5>
    <p class="about_p">Not so many to talk about, so let's just say I'm a music fan, who still has no expertise in this field XO</p>

    <div class ="image_block">
        <div class="image_div"><img src="/media/chansey.png" alt="latias"></div>
        <div class="image_div"><img src="/media/chansey.png" alt="latias"></div>
        <div class="image_div"><img src="/media/chansey.png" alt="latias"></div>
        <div class="image_div"><img src="/media/chansey.png" alt="latias"></div>
    </div>
    
</div>

{% endblock content %}